<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoCreateContourSPEC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="AutoCreateContourSPEC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <AutoCreateContourSPEC.Properties.Settings>
      <setting name="ftpUsername" serializeAs="String">
        <value>Administrator</value>
      </setting>
      <setting name="ftpPassword" serializeAs="String">
        <value>O12ab88c</value>
      </setting>
      <setting name="ftpUrl" serializeAs="String">
        <value>ftp://10.118.42.19/</value>
      </setting>
    </AutoCreateContourSPEC.Properties.Settings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/WXI</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
    <add name="AutoCreateContourSPEC.Properties.Settings.PSR_MDBConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\PSR_MDB.mdb"
      providerName="System.Data.OleDb" />
    <add name="AutoCreateContourSPEC.Properties.Settings.BTMVAppsLogConnectionString"
      connectionString="Data Source=10.118.11.111;Initial Catalog=BTMVAppsLog;Persist Security Info=True;User ID=sa;Password=@dmin15!!"
      providerName="System.Data.SqlClient" />
    <add name="AutoCreateContourSPEC.Properties.Settings.PSR_MDBConnectionString1"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;\\10.118.18.137\PSR New Simulation System\DB\PSR_MDB.mdb&quot;"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <AutoCreateContourSPEC.Properties.Settings>
      <setting name="Account" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Remember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChucVu" serializeAs="String">
        <value />
      </setting>
    </AutoCreateContourSPEC.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmailService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.118.11.112/Common/EmailService/EmailService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService"
        contract="WebMailService.IEmailService" name="BasicHttpBinding_IEmailService" />
    </client>
  </system.serviceModel>
	<appSettings>
		<add key="folderPending" value="\\10.118.42.19\ContourSPECFolder\PendingSpec\" />
		<add key="folderApproved" value="\\10.118.42.19\ContourSPECFolder\ApprovedSpec\"/>
		<add key="folderDestination" value="\\10.118.43.81\Contour-BTMV\1. CONTOUR\1. Contour\data\PSR\"/>
	</appSettings>
</configuration>